- title = 'BLOG'

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    = link_to root_path, 
      class: 'navbar-brand' 
      = title

    button.navbar-toggler(
      aria-expanded='false' 
      data-bs-toggle='collapse' 
      aria-label='Toggle navigation' 
      aria-controls='navbarNavDropdown' 
      data-bs-target='#navbarNavDropdown'
    )
      .navbar-toggler-icon

    .collapse.navbar-collapse#navbarNavDropdown
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        - @nav_links.each do |link|
          li.nav-item
            = link_to link[:path], 
              class: 'nav-link'
              = link[:label]

      ul.navbar-nav
        li.nav-item.dropdown
          = link_to root_path, 
            class: 'nav-link dropdown-toggle', 
            id: 'navbarDropdownMenuLink',
            'data-bs-toggle': 'dropdown', 
            'aria-expanded': 'false'
              = @dropdown_label

          ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            - @dropdown_links.each_with_index do |link, idx|
              li 
                = link_to root_path, 
                  class: 'dropdown-item' 
                  = "#{idx}: #{link}"
